<h1>Feed [<%= @feed.id -%>]</h1>
<b>URL:</b>   <%= in_place_editor_field :feed, :url %> <br />
<b>Title:</b> <%= in_place_editor_field :feed, :title %> <br />

<h2>Filters</h2>
<%= @feed.tag_list %>
<%= link_to_remote 'add filter', :url => { :action => 'new_filter', :feed => @feed.id } %>

<h2>Items</h2>
<ul id="feed_items">
</ul>

<%= link_to 'All Feeds', {:action => 'index'} %>
