---
http_interactions:
- request:
    method: get
    uri: https://kickass.to/usearch/user:eztv/?rss=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <rss version="2.0" xmlns:torrent="http://xmlns.ezrss.it/0.1/">
        <channel>
            <title>Torrents by keyword "user:eztv" - KickassTorrents</title>
            <link>http://kickass.to/</link>
            <description>Torrents by keyword "user:eztv"</description>
            <item>
                <title>Cakes S06E25</title>

                <category>TV</category>
              <author>http://kickass.to/user/EZTV/</author>        <link>http://kickass.to/james-baker-the-man-who-made-washington-work-720p-hdtv-x264-mvgroup-org-t10494663.html</link>
                <guid>http://kickass.to/james-baker-the-man-who-made-washington-work-720p-hdtv-x264-mvgroup-org-t10494663.html</guid>
                <pubDate>Sun, 12 Apr 2015 15:00:57 +0000</pubDate>
                <torrent:contentLength>1245156882</torrent:contentLength>
                <torrent:infoHash>BD8DC3F89DA5969325CD6DA114CB3E14E2A8EB56</torrent:infoHash>
                <torrent:magnetURI><![CDATA[magnet:?xt=urn:btih:BD8DC3F89DA5969325CD6DA114CB3E14E2A8EB56&dn=james+baker+the+man+who+made+washington+work+720p+hdtv+x264+mvgroup+org&tr=udp%3A%2F%2Fopen.demonii.com%3A1337%2Fannounce]]></torrent:magnetURI>
                <torrent:seeds>58</torrent:seeds>
                <torrent:peers>75</torrent:peers>
                <torrent:verified>1</torrent:verified>
                <torrent:fileName>james.baker.the.man.who.made.washington.work.720p.hdtv.x264.mvgroup.org.torrent</torrent:fileName>
                <enclosure url="http://torcache.net/torrent/BD8DC3F89DA5969325CD6DA114CB3E14E2A8EB56.torrent?title=[kickass.to]james.baker.the.man.who.made.washington.work.720p.hdtv.x264.mvgroup.org" length="1245156882" type="application/x-bittorrent" />
            </item>
            <item>
                <title>Ow my Balls S23E44</title>

                <category>TV</category>
              <author>http://kickass.to/user/EZTV/</author>        <link>http://kickass.to/britains-got-the-builders-in-1of6-720p-x264-hdtv-mv[...]
