= mobile_tag :role => 'navbar' do
  %ul.filters
    %li.running= link_to '.torrents.running', torrents_path(:by_status => 'running')
    %li.archived= link_to '.torrents.archived', torrents_path(:by_status => 'archived')
