= render 'directories/list', directories: @disk.directories.roots.order(:name), extra_class: 'existing fixed_disk'

= render 'directories/detected', directories: @disk.detected_directories, extra_class: 'fixed_disk'
