= render 'directories/list', directories: @disk.directories.roots.order(:name), extra_class: 'existing fixed_disk'

- unless @disk.detected_directories.empty?
  %h1= ta :detected_directories
  = render 'directories/list', directories: @disk.detected_directories, extra_class: 'new fixed_disk'
