/*
 small corners defaults
*/

/* rechts rund */
div.torrent,
#john_cage
{
  padding: 10px 0 10px 0 !important;
}

/* links rund */
div.watchlist_item,
#right
{
  padding: 10px 0 10px 10px !important;
}

/* beide */
/* top */
div.torrent:before,
div.watchlist_item:before,
#john_cage:before,
#right:before
{
  text-align: right;
  background-color: transparent;
  height: 5px;
  display: block;
  border: none;
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
  margin: -10px 0 -3px -10px;
}

/* bottom */
div.torrent:after,
div.watchlist_item:after
{
  text-align: right;
  display: block;
  line-height: 0.1;
  font-size: 1px;
  margin: 5px 0 -10px -10px;
  height: 5px;
  padding: 0;
}

/* small corners graphics (must be 5x5) */
div.torrent:before 
{
  background: none;
  content: url(../images/layout/corner_tr_content_small.png);
}
div.torrent:after
{
  content:  url(../images/layout/corner_br_content_small.png);
  background: none;
}
#john_cage:before
{
  background: none;
  content: url(../images/layout/corner_tr_background_small.png);
}
#right:before
{
  background: url(../images/layout/corner_tl_background_small.png) top left no-repeat;
  content: " ";
  /* top right not rounded */
}

div.watchlist_item:before
{
  background: url(../images/layout/corner_tl_content_small.png) top left no-repeat;
  content: " ";
  /* top right not rounded */
}
div.watchlist_item:after
{
  background: url(../images/layout/corner_bl_content_small.png) top left no-repeat;
  content: " ";
}
