#john_cage:before {
  text-align: left;
  background: transparent url(../images/layout/top_right.png) scroll no-repeat top right;
  margin-bottom: -20px;
  height: 22px;
  display: block;
  border: none;
  content: url(../images/layout/top_left.png);
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
}


div.watchlist_item:after,
#summary:after {
  text-align: left;
  display: block;
  line-height: 0.1;
  font-size: 1px;
  content:  url(../images/layout/bottom_left_small.png);
  margin: 0 0 -1px 0;
  height: 5px;
  padding: 0;
}  




/*
 small corners defaults
*/

div.torrent,
#groups
{
  padding: 10px 0 10px 10px !important;
}

/* top */
div.torrent:before,
#groups:before
{
  text-align: right;
  background-color: transparent;
  height: 5px;
  display: block;
  border: none;
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
  margin: -10px 0 -3px -10px ;
}

/* bottom */
div.torrent:after,
#groups:after {
  text-align: right;
  display: block;
  line-height: 0.1;
  font-size: 1px;
  margin: 5px 0 -10px -10px;
  height: 5px;
  padding: 0;
}

/* small corners graphics (must be 5x5) */
div.torrent:before 
{
  background: url(../images/layout/corner_small_test.png) top left no-repeat;
  content: url(../images/layout/corner_small_test.png);
}
div.torrent:after
{
  content:  url(../images/layout/corner_small_test.png);
  background: url(../images/layout/corner_small_test.png) bottom left no-repeat;
}
#groups:before
{
  /* top left not rounded */
  content: url(../images/layout/top_right_small.png);
}
#groups:after
{
  /* bottom left not rounded */
  content:  url(../images/layout/bottom_right_small.png);
}