#john_cage:before {
  text-align: left;
  background: transparent url(../images/layout/top_right.png) scroll no-repeat top right;
  margin-bottom: -20px;
  height: 22px;
  display: block;
  border: none;
  content: url(../images/layout/top_left.png);
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
}


/*
 small corners defaults
*/

#groups,
#summary,
div.torrent,
div.watchlist_item
{
  padding: 10px 0 10px 10px !important;
  margin: 0;
}

/* top */
#groups:before,
#summary:before,
div.torrent:before,
div.watchlist_item:before
{
  text-align: right;
  background-color: transparent;
  height: 5px;
  display: block;
  border: none;
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
  margin: -10px 0 -3px -10px;
}

/* bottom */
#groups:after,
#summary:after,
div.torrent:after,
div.watchlist_item:after
{
  text-align: right;
  display: block;
  line-height: 0.1;
  font-size: 1px;
  margin: 5px 0 -10px -10px;
  height: 5px;
  padding: 0;
}

/* small corners graphics (must be 5x5) */
div.torrent:before 
{
  background: url(../images/layout/corner_small_test.png) top left no-repeat;
  content: url(../images/layout/corner_small_test.png);
}
div.torrent:after
{
  content:  url(../images/layout/corner_small_test.png);
  background: url(../images/layout/corner_small_test.png) bottom left no-repeat;
}
#groups:before
{
  /* top left not rounded */
  content: url(../images/layout/top_right_small.png);
}
#groups:after
{
  /* bottom left not rounded */
  content:  url(../images/layout/bottom_right_small.png);
}
#summary:before
{
  background: url(../images/layout/top_left_small.png) top left no-repeat;
  content: url(../images/layout/top_right_small.png);
}
#summary:after
{
  background: url(../images/layout/bottom_left_small.png) bottom left no-repeat;
  content:  url(../images/layout/bottom_right_small.png);
}
div.watchlist_item:before
{
  background: url(../images/layout/top_left_small.png) top left no-repeat;
  content: " ";
  /* top right not rounded */
}
div.watchlist_item:after
{
  background: url(../images/layout/bottom_left_small.png) top left no-repeat;
  content: " ";
}
