/*
 * Here should be only layout specifications like
 *   position
 *   height + width
 *   padding + margin
 *
 * NO
 *   fonts, colors, backgrounds (goto styles)
 */

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  border: none;
}

#header {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100px;
  z-index: 2;
}

#actions {
  position: absolute;
  top: 30px;
  left: 5%;
  height: 70px;
  width: 90%;
  z-index: 1;
}

#actions > ul {
  margin: 0 auto;
  padding: 50px 5px 5px 5px;
  width: 790px;
  height: 15px;
}

#actions > ul > li {
  display: inline;
  position: relative;
  padding: 0 0.7em;
  margin: 0;
}

#header > span.logo {
  float: none !important;
  margin: 0 auto;
  padding: 0;
  width: 800px;
  height: 60px;
}

#header > span > img.test {
  position: relative;
  top: 0;
  z-index: 3;
}

#header > img {
  margin: -60px 0 0 0;
}

#john_cage {
  position: absolute;
  top: 158px;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  bottom: 0;
  height: auto; 
  width: 69%;
}

#john_cage > * {
  margin: 0 0.5em 0 0;
}


#search {
  position: absolute;
  top: 123px;
  left: 1%;
  width: 97%;
  text-align: center; 
  margin: 0 5px 0 0;
  padding: 0;
}

#reply {
}

#right {
  position: absolute;
  top: 158px;
  bottom: 0;
  right: 0; 
  width: 28%;
  height: auto;
  margin: 0 0 0 5px;
  padding: 0;
}

#left > * {
  width: auto;
}

#right > * {
  width: auto;
}

#content {
  height: 95%;
  overflow: auto;
}

#summary:before {
  margin: -10px 0 -3px -10px ;
}

#summary:after {
  margin: 5px 0 -10px -10px ;
}

#search {
  margin: 0 0 0 0 !important;
}

#reply {
  max-width: 40%;
  float: left;
}
#search > input {
  padding: 0.1em 0.3em;
  margin: 1px 2em 3px 2em;
  float: left;
}

#search >a {
  float: right;
}


#summary {
  position: absolute;
  top: 55px;
  left: 3%;
  width: 90%;
  height: auto;
  padding: 0.7em !important;
  margin: 1% !important;
}

#summary b {
  margin-left: 2.3em;
}

#notice {
  position: absolute;
  bottom: 0;
  left: 1%;
  width: 96%;
  z-index: 3;
  background: #FFF;
  color: #000;
  height: auto;
  text-align: left;
  padding: 0.7em;
  margin: 0;
}

