body {
  font: 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  background-color: #021b10;
  color: white;
  text-align: center;
}

#header {
  color: #666;
  background: transparent;
  font-weight: bold;
  text-align: center;
}

#actions > ul {
  color: white;
  background: url(../images/layout/actions.png);
}

#actions > ul > li > a {
  text-decoration: none; 
  color: #666; 
  font-weight: bold;
}

#actions > ul > li > a:hover {
  color: #444;
}

#john_cage, #right {
  background-color: #011009;
}

#groups {
  text-align: center;
  overflow: hidden;
}

#groups > li {
  font-size: 140%;
  list-style: none;
}

#groups > li > a {
  color: white;
  text-decoration: none;
}
#groups > li.active  {
  font-weight: bold;
}

#groups input {
  border: 5px solid #2c0d0f; 
  background: #273327;
}

#summary {
  text-align: center;
}
