body {
  font: 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  background-color: #34363b;
  color: white;
  text-align: center;
}

#header {
  color: #666;
  background: url(../images/layout/header_background.png) top repeat-x;
  font-weight: bold;
  text-align: center;
}

#actions > ul {
  color: white;
  background: url(../images/layout/actions.png);
}

#actions > ul > li > a {
  text-decoration: none; 
  color: #666; 
  font-weight: bold;
}

#actions > ul > li > a:hover {
  color: #444;
}

#john_cage, #right {
  background-color: #222222;
}

#groups {
  text-align: left;
  background: #222222; 
  overflow: hidden;
}

#groups > li {
  font-size: 140%;
  list-style: none;
}

#groups > li > a {
  color: white;
  text-decoration: none;
}
#groups > li.active  {
  font-weight: bold;
}

#summary {
  background: #444;
  text-align: center;
}
