body {
  font: 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #34363b;
  color: white;
  height: 100%;
}

img {
  border: none;
}

#header {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100px;
  color: #666; 
  font-weight: bold;
  text-align: center;
  background: url(../images/layout/header_background.png) top repeat-x;
  z-index: 2;
}

#actions {
  position: absolute;
  top: 30px;
  left: 5%;
  height: 70px;
  width: 90%;
  text-align: center;
  z-index: 1;
}

#actions > ul {
  margin: 0 auto;
  padding: 50px 5px 5px 5px;
  width: 790px;
  height: 15px;
  color: white;
  background: url(../images/layout/actions.png);
}

#actions > ul > li {
  display: inline;
  position: relative;
  padding: 0 0.7em;
  margin: 0;
}

#actions > ul > li > a {
  text-decoration: none; 
  color: #666; 
  font-weight: bold;
}

#actions > ul > li > a:hover {
  color: #444;
}

#header > span.logo {
  float: none !important;
  margin: 0 auto;
  padding: 0;
  width: 800px;
  height: 60px;
}

#header > span > img.test {
  position: relative;
  top: 0;
  z-index: 3;
}

#header > img {
  margin: -60px 0 0 0;

}

#content > table {
  width: 99%;
  padding: 0;
  margin: 5px 0 0 0;
  font: 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
  text-align: center;
}

#content > table tr {
}

#content > table th {
  font-size: 11px;
}

#content > table tr.even {
  background-color: #444;
}

#content > table tr.odd {
  background-color: #333;
}

#content > table tr.details  {
}
#content > table tr.details > td > div  {
  overflow: auto;
  font-size: 80%;
  text-align: left;
  width: 100%;
}

div.percent_container {
  border: 1px solid #222222;
  padding: 1px;
  text-align: center;
}

div.percent_bar {
  background: #515A65;
}

#content > table div {
  text-align: left;
}

#content > table div > ul > li {
  font-size: 80%;
  list-style: none;
}

span.percent {
  font-size: 80%;
}

#content {
  height: 95%;
  overflow: auto;
}

#john_cage {
  position: absolute;
  top: 125px;
  left: 10%;
  margin: 0;
  padding: 0;
  text-align: left;
  bottom: 0;
  height: auto; 
  width: 70%;
  background-color: #222222;
}

#john_cage > * {
  margin: 15px;
}

#john_cage:before {
  text-align: left;
  background: transparent url(../images/layout/top_right.png) scroll no-repeat top right;
  margin-bottom: -20px;
  height: 22px;
  display: block;
  border: none;
  content: url(../images/layout/top_left.png);
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
}

#left {
  position: absolute;
  top: 125px;
  left: 0; 
  width: 9%;
  margin: 0 5px 0 0;
  padding: 0;
}

#right {
  position: absolute;
  top: 125px;
  bottom: 0;
  right: 0; 
  width: 19%;
  height: auto;
  margin: 0 0 0 5px;
  padding: 0;
}

#left > * {
  width: auto;
}

#right > * {
  width: auto;
}

#right > div > h1,
#right > div > div > h1
{
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  padding: 2px 2px 2px 2px;
  margin: 0 2px 5px 0;
  white-space: nowrap;
  overflow: hidden;
}

#watchlist {
  margin: 0 0 0 0 !important; 
  background: inherit;
  text-align: left;
  overflow: auto;
  height: 100%;
}

div.watchlist_item {
  margin: 0 0 1em 0;
  background: #444;
  font-size: 90%;
  text-align: center;
}

div.watchlist_item img {
  padding: 5px 0 0 1px;
  white-space: nowrap;
  float: left;
}

div.watchlist_item > br {
  line-height: 0.1em;
}

div.watchlist_item > div.percent_container {
  margin: 0 2px 2px 15px;
}

div.watchlist_item > div.percent_bar {
  background: #333;
}


div.watchlist_item:before,
#summary:before {
  text-align: left;
  background: transparent;
  margin: 0 0 -3px 0 ;
  height: 5px;
  display: block;
  border: none;
  content: url(../images/layout/top_left_small.png);
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
}

#summary:before {
  margin: -10px 0 -3px -10px ;
}

div.watchlist_item:after,
#summary:after {
  text-align: left;
  display: block;
  line-height: 0.1;
  font-size: 1px;
  content:  url(../images/layout/bottom_left_small.png);
  margin: 0 0 -1px 0;
  height: 5px;
  padding: 0;
}  

#summary:after {
  margin: 5px 0 -10px -10px ;
}

#groups {
  padding: 10px 0 10px 10px !important;
  margin: 0 0 3em 0 !important;
  text-align: left;
  background: #444; 
  overflow: hidden;
}

#groups:before {
  text-align: right;
  content: url(../images/layout/top_right_small.png);
  height: 5px;
  display: block;
  border: none;
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
  margin: -10px 0 -3px -10px ;
}

#groups:after {
  text-align: right;
  display: block;
  line-height: 0.1;
  font-size: 1px;
  content:  url(../images/layout/bottom_right_small.png);
  margin: 5px -1px -10px 0;
  height: 5px;
  padding: 0;
}


#groups > li {
  padding: 2px 5px 2px 5px;
  margin: 0;
  list-style: none;
}

#groups > li > a {
  color: white;
  text-decoration: none;
}

#groups > li.active  {
  font-weight: bold;
}


#summary {
  position: absolute;
  top: 55px;
  left: 3%;
  width: 90%;
  height: auto;
  padding: 0.7em !important;
  margin: 1% !important;
  background: #444;
  text-align: center;
}


form.inplaceeditor-form {
  display: inline;
}

form.inplaceeditor-form input[type=text] {
  background-color: rgb(42,42,42) !important;
  color: rgb(200,200,200);
  border: none;
}


.match {color: white; }
.no_match {color: #888; }

.details,
.preview {
  margin: 0;
  float: left;
  padding: 0.3em;
}

.preview {
  max-width: 23em;
}

.details_preview > div {
  padding: 0;
  margin: 0;
}
  

.details > h1,
.details > h1 > a,
.preview > h1,
.preview > h1 > a
 {
  font-size: 110%;
  text-decoration: none;
}

