#watchlist {
  margin: 0.5em 0 0 -3px !important; 
  background: inherit;
  text-align: left;
  overflow: auto;
  height: 100%;
}

div.watchlist_item {
  margin: 0 0 1em 0 !important;
  background: #273327;
  font-size: 90%;
  text-align: center;
}

div.watchlist_item > *{
  margin: 0.3em 1em 0.1em 1em !important;
}

div.watchlist_item img {
  margin: -5px 0 0 -5px;
  white-space: nowrap;
  float: left;
}

div.watchlist_item > br {
  line-height: 0.1em;
}

div.watchlist_item > div.percent_container {
  margin: 0 2px 2px 15px;
}

div.watchlist_item > div.percent_bar {
  background: #333;
}

#watchlist h1, #watchlist h1 > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  text-align: left;
  padding: 0;
  margin: 0.1em;
}
