- for_header do
  %h1= ta :dashboard

= mobile_tag tag: 'ul', role: 'listview' do
  - Torrent::Search::States.each do |state|
    %li
      %a{href: url_for(controller: 'torrents', status: state)}
        %h3.name= ta :"torrents.#{state}"


