- title :dashboard

= link_to :add, new_torrent_path

%ul.filters
  - Torrent::Search::States.each do |state|
    %li
      %a{href: "##{state}"}
        %h3.name= t_status state

- Torrent::Search::States.each do |state|
  = render 'torrents/search', search: Torrent::Search.new(status: state)
