<style>
.treemap .square {
        outline: 1px solid blue;
        width: 1px;
        height: 1px;
        top: 100%;
        left: 100%;
        position: absolute;
        font-size: 200%;
        color: white;
        overflow: hidden;
        transition: top 0.5s, left 0.5s, width 0.4s, height 0.4s;
}
.treemap button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
}
</style>

{{#each item in objects itemViewClass="Cataract.SquarifiedSizeMapComponentItemView" itemController="squarified_size_map_component_item"}}
{{view parentController.itemViewClass content=content}}
{{/each}}

<button {{action addOne}}>++++</button>
