(function($){
  $.subDirs = <%= Directory.subdirs_by_id.to_json %>;
  $.fn.populateSubdirs = function() {
    return this.each(function() {
      var subs = $('select#files_subdir').hide();
      $('select#files_directory_id').change(function() {
        var for_us = $.subDirs[$(this).val()];
        if (for_us.length) {
          $('option[value]', subs).remove();
          $.each(for_us, function() {
            subs.append('<option value="'+ this + '">' + this + '</option>');
          })
          subs.show();
        } else {
          subs.hide();
        }
      });
    });
  }
}(jQuery));

