<% torrent = meta %>
<h3>Meta</h3>
<b>ID:</b> <%= torrent.id -%><br />
<b>created:</b> <%= torrent.created_at %><br />
<b>updated:</b> <%= torrent.updated_at %> <br />
<% if torrent.file_exists? %>
<b>Filename:</b> <span title="<%= torrent.fullpath -%>"> <%= torrent.filename %></span><br />
<% end %>
<% unless torrent.url.blank? %>
<b>Source:</b> <%= link_to torrent.url %><br />
<% end %>
