{{#modal-dialog action="deleteTorrent" heading="Delete Torrent" primary="Delete" secondary="Keep"}}
  {{#if content.payloadExists}}
    <label>
      {{view Ember.Checkbox checkedBinding="deletePayload"}}
      Also delete payload
      <span class="size">{{content.payload.humanSize}}</span>
    </label>
  {{/if}}
{{/modal-dialog}}

