{{#modal-dialog action="deleteTorrent" heading="Delete Torrent" primary="Delete" secondary="Keep" size="small"}}
  {{#if askForPayload}}
    <label>
      {{input type="checkbox" checked=deletePayload}}
      Also delete payload
      <span class="size">{{content.payload.humanSize}}</span>
    </label>
  {{/if}}
{{/modal-dialog}}

