<ul class="nav nav-list directories">
  <li class="nav-header">Directories</li>
  {{#each controller}}
  <li {{bindAttr class="cssClass active isExisting:existing:missing"}}>
    {{#linkTo directory this}}
      <i {{bindAttr class="isExisting:icon-folder-open:icon-warning-sign"}}></i>
      {{name}}
    {{/linkTo}}
  </li>
  {{/each}}
  {{#if Cataract.currentDirectory}}
    <li class="divider"></li>
    <li><a href="#" {{action goToDirectory null}}>reset</a></li>
  {{/if}}
</ul>

