<h2>{{name}}</h2>

{{#if subscribed}}
  <span class="subscribed label label-success">subscribed</span>
{{/if}}

{{#if hasSubDirs}}
{{view Cataract.DirectoriesTable contentBinding="children"}}
{{/if}}
