<ul class="nav nav-tabs disks">
  {{#each controller}}
  <li {{bind-attr class=":disk active isMounted:mounted:unmounted"}}>
  {{#link-to 'disk' this class="name"}}
      <i {{bind-attr class=":glyphicon isMounted:glyphicon-hdd:glyphicon-warning-sign"}}></i>
      {{name}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>
