<ul class="nav nav-tabs disks">
  {{#each controller}}
  <li {{bindAttr class=":disk active isMounted:mounted:unmounted"}}>
  {{#link-to 'disk' this class="name"}}
      <i {{bindAttr class="isMounted:icon-hdd:icon-warning-sign"}}></i>
      {{name}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>
