<h2>{{name}}</h2>


{{#linkTo new_directory class="new"}}Create Directory{{/linkTo}}

{{#if hasDirectories}}
{{view Cataract.DirectoriesTable contentBinding="directories"}}
{{/if}}

{{#if hasDetectedDirs}}
<h2>Detected</h2>
{{view Cataract.DetectedDirectoriesTable contentBinding="detectedDirectories"}}
{{/if}}
