<ul class="nav nav-tabs disks">
  {{#each as |disk|}}
  <li class="disk active {{disk.isMounted:mounted:unmounted}}">
  {{#link-to 'disk' disk class="name"}}
    <i class="glyphicon {{disk.isMounted:glyphicon-hdd:glyphicon-warning-sign}}"></i>
      {{disk.name}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>
