{{#with view.parentView.directory}}
<label for="directory_subscribed">
  {{view Ember.Checkbox checkedBinding="subscribed" elementID="directory_subscribed"}}
  subscribed
</label>

{{#if subscribed}}
  {{view Bootstrap.Forms.TextField valueBinding="filter" label="Filter"}}
{{/if}}
{{/with}}
