{{view Bootstrap.Forms.Checkbox checkedBinding="content.disableSignup" label="Disable signup"}}
{{view Cataract.SelectDirectoryField selectionBinding="content.incomingDirectory" label="Download Directory" contentBinding="directories" optionLabelPath="content.nameWithDisk"}}

<a class="save btn btn-success" {{action save content}}>
  <i class="glyphicon glyphicon-ok icon-white"></i>
  Save
</a>

<p>
Drag the {{{content.bookmarkLink}}} to your Bookmark bar. When you are on a public page for a torrent (for example torrentz.eu), you can press it to immediatly download this torrent.
</p>
