<style>
.treemap {
        position: relative;
        border: 1px solid green;
        margin-bottom: 5em;
}
.treemap .square {
        outline: 1px solid blue;
        width: 10em;
        height: 2em;
        top: 0;
        left: 0;
        position: absolute;
        font-size: 200%;
        color: white;
}
</style>
<button {{action addOne}}>++++</button>

<div class="treemap" {{bind-attr style=style}}>
{{each x in objects itemViewClass="Cataract.SquareView"}}
</div>
