<style>
.treemap {
        position: relative;
        border: 1px solid green;
        margin-bottom: 5em;
        overflow: hidden;
}
.treemap .square {
        outline: 1px solid blue;
        width: 1px;
        height: 1px;
        top: 100%;
        left: 100%;
        position: absolute;
        font-size: 200%;
        color: white;
        overflow: hidden;
        transition: top 0.5s, left 0.5s, width 0.4s, height 0.4s;
}
</style>
<button {{action addOne}}>++++</button>

<div class="treemap" {{bind-attr style=style}}>
{{each x in objects itemViewClass="Cataract.SquareView"}}
</div>
