ul.directories {
    ul.directories {
        // nesting of tree
        margin-left: 2em;
    }

    li {
        // give the shadow room to breath
        margin-top: 0.5em;
        a {
            background: white;
            box-shadow: 2px 2px 6px 1px black;
            // do not grow in width indefinitely
            display: inline-block;
            max-width: 20em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

}

#sidebar .well {
    margin-top: 1em;
}
