#dropzone {
  padding: 0.3em;
  margin: 0.3em;
  font-size: 110%;
  text-align: center;
  border-radius: 5px;
  color: $body-bg;
  position: absolute;
  right: 0;
  top: 0;


  .inflate {
    display: inline-block;
    height: 1em;
    width: 1em;
    transition: width 0.66s ease-in-out,
                height 1s ease-in-out;
  }

  &.inviting, &.hovered {
    .inflate {
      height: 2.5em;
      width: 200px;
    }
  }

  background: $state-info-text;
  &.inviting {
    background: $state-warning-text;
  }
  &.hovered {
    background: $state-success-text;
  }
}
