#dropzone {
  padding: 0.3em;
  margin: 0.3em;
  font-size: 110%;
  text-align: center;
  @include border-radius(5px);
  color: $bodyBackground;
  position: absolute;
  right: 0;
  top: 0;


  .inflate {
    display: inline-block;
    -webkit-transition: width 1s ease-in-out,
                        height 1s ease-in-out;
  }

  &.inviting, &.hovered {
    .inflate {
      height: 3em;
      width: 200px;
    }
  }

  background: $infoText;
  &.inviting {
    background: $warningText;
  }
  &.hovered {
    background: $successText;
  }
}
