/* all the percentage values are taken exactly from bootstrap and changed by a rule of thumb */

@media (max-width: 767px) {
  #sidebar, #details {
    width:auto;
    position:static;
  }
}

@media (min-width: 767px) {
  #sidebar {
    position:fixed;
    top: $navbar_shift;
    width:21.97%;
    max-height: 90%;
    overflow: auto;
  }

  #details {
    position:fixed;
    top: $navbar_shift;
    right: 1.2%;
    width: 29.91489%;
  }

  #content {
    margin-left: 25.66%;
  }
}
