$golden_ratio: 1.618;
$smaller_half_factor: 1 / (1 + $golden_ratio);
$bigger_half_factor:  1 - $smaller_half_factor;
$smaller_half: 100% * $smaller_half_factor;
$bigger_half:  100% * $bigger_half_factor;
$minimized: 10%;

@media (max-width: 766px) {
  #sidebar {
    max-height: 13em;
    overflow-y: auto;
  }
}
@media (min-width: 767px) {

  $barheight: 3em;

  body {
    margin: 0;
    #ember {
      margin: 0;
    }
    #header {
      z-index: 5;
    }
    #sidebar, #middle, #details, #content {
      /* overflow: hidden; causes #content to shift up ~32px under the #header in cromium */
      position: absolute;
    }

    #sidebar {
      top: $navbar_shift;
      bottom: 0;
      left: 0;
      width: $smaller_half;
      overflow-y: auto;
      z-index: -5;

      padding: 0 1em;
    }
    #middle {
      top: $navbar_shift;
      bottom: 0;
      right: 0;
      left: $smaller_half;
      z-index: -5;

      #details, #content {
        left: 0;
        right: 0;
        overflow-y: auto;
      }

      #content {
        top: 0;
        bottom: $minimized;
        transition: bottom 0.7s ease-in-out;
        padding-bottom: 0.7 * $barheight;
        &.shrunk {
          bottom: $smaller_half;
        }
      }

      #bar {
        position: absolute;
        z-index: 2;
        width: 100%;
        left: 0;
        height: $barheight;
        transition: bottom 0.7s ease-in-out;
        bottom: 0;
        padding: 1px; // well adds too much
        margin-bottom: -2px;
        &.up {
          bottom: $smaller_half;
        }
        .nav {
          float: left;
          margin-bottom: 0;
        }
        .pagination {
          float: left;
          margin: 5px 0;
        }
        .status-message {
          // must fit into bar. Maybe resize on hover?
          float: left;
          overflow: hidden;
          white-space: nowrap;
          max-width: 3em;
          transition: max-width 0.3s ease-in-out;
          -webkit-transition: max-width 0.3s ease-in-out;
          margin-left: 0.3em;

          &:hover {
            max-width: 23em;
            cursor: pointer;
          }
        }
        .alert {
          padding: 0.5em;
          margin: 0;
        }
      }

      #details {
        top: 100% - $minimized;
        bottom: 0;
        padding-top: 0.7 * $barheight;
        transition: top 0.7s ease-in-out;
        visibility: hidden; // no garbled content while animating out
        &.extended {
          top: $bigger_half;
          visibility: visible;
        }
      }
    }
  }
}

// on desktops, do not grow sidebar
@media (min-width: 992px) {
    body {
        #sidebar {
            width: $smaller_half_factor * 992px;
        }
        #middle {
            left: $smaller_half_factor * 992px;
        }
    }
}
