$golden_ratio: 1.618;
$smaller_half_factor: 1 / (1 + $golden_ratio);

@media (max-width: 766px) {
  #sidebar {
    max-height: 13em;
    overflow-y: auto;
  }
}
@media (min-width: 767px) {

  $barheight: 3em;

  body {
    margin: 0;
    #ember {
      margin: 0;
    }
    #header {
      z-index: 5;
    }

    #sidebar {
      overflow-y: auto;

      padding: 0 1em;
    }

    #content {
      overflow-y: auto;
    }


    #bar {
        z-index: 2;
        padding-left: 1em;
        padding-right: 1em;
        left: initial; /* navbar should not span full width */

        .pagination {
            margin: 10px 0;
        }
    }

  }
}
