@media (min-width: 767px) {

  $golden_ratio: 1.618;
  $middle_width: 100% - 100% / (1 + $golden_ratio);

  body {
    margin: 0;
    #ember {
      margin: 0;
    }
    #header {
      z-index: 5;
    }
    #sidebar, #middle, #details, #content {
      overflow: hidden;
      position: absolute;
    }

    #sidebar {
      top: $navbar_shift;
      bottom: 0;
      left: 0;
      right: $middle_width;
      overflow-y: auto;
      z-index: -5;
    }
    #middle {
      top: $navbar_shift;
      bottom: 0;
      right: 0;
      width: $middle_width;
      z-index: -5;

      #details, #content {
        left: 0;
        right: 0;
        overflow-y: auto;
      }

      #content {
        top: 0;
        bottom: 50%;
      }

      #details {
        top: 50%;
        bottom: 0;
      }
    }
  }
}

