@media (max-width: 766px) {
  #sidebar {
    max-height: 13em;
    overflow-y: auto;
  }
}
@media (min-width: 767px) {

  $golden_ratio: 1.618;
  $smaller_half: 100% / (1 + $golden_ratio);
  $bigger_half: 100% - $smaller_half;
  $minimized: 10%;
  $barheight: 3em;

  body {
    margin: 0;
    #ember {
      margin: 0;
    }
    #header {
      z-index: 5;
    }
    #sidebar, #middle, #details, #content {
      overflow: hidden;
      position: absolute;
    }

    #sidebar {
      top: $navbar_shift;
      bottom: 0;
      left: 0;
      right: $bigger_half;
      overflow-y: auto;
      z-index: -5;
    }
    #middle {
      top: $navbar_shift;
      bottom: 0;
      right: 0;
      width: $bigger_half;
      z-index: -5;

      #details, #content {
        left: 0;
        right: 0;
        overflow-y: auto;
      }

      #content {
        top: 0;
        bottom: $minimized;
        transition: bottom 0.7s ease-in-out;
        padding-bottom: 0.7 * $barheight;
        &.shrunk {
          bottom: $smaller_half;
        }
      }

      #bar {
        position: absolute;
        z-index: 2;
        width: 100%;
        left: 0;
        height: $barheight;
        transition: bottom 0.7s ease-in-out;
        bottom: 0;
        padding: 1px; // well adds too much
        margin-bottom: -2px;
        &.up {
          bottom: $smaller_half;
        }
        .nav {
          float: left;
          margin-bottom: 0;
        }
        .pagination {
          float: left;
          margin: 5px 0;
        }
        .alert {
          // must fit into bar. Maybe resize on hover?
          float: left;
          overflow: hidden;
          width: 1em;
          height: 1em;
          padding: 0.5em;
          margin-bottom: 0;
          position: relative;
          top: -14px; // WTF
          white-space: nowrap;
        }
      }

      #details {
        top: 100% - $minimized;
        bottom: 0;
        padding-top: 0.7 * $barheight;
        transition: top 0.7s ease-in-out;
        visibility: hidden; // no garbled content while animating out
        &.extended {
          top: $bigger_half;
          visibility: visible;
        }
      }
    }
  }
}

