@import "compass/css3/opacity";

$pie_size: 3.2em;

@mixin icon($icon) {
  margin-left: 1.3em;
  &:before {
    content: $icon;
    margin-right: 0.3em;
    margin-left: -1.3em;
  }
}

.dir {
  .path {
    font-family: fixed;
    margin: 0 0.5em;
  }
}

.error {
  @include opacity(0.5);
}

ul.torrents {
  list-style: none;
  margin: 0;
  li.torrent {
    padding: 0.5em;
    margin-bottom: 0.8em;
    @include border-radius(4px);
    @include box-shadow(lighten($bodyBackground, 15) 1px 1px 3px);
    position: relative;

    &:hover {
      @include box-shadow(lighten($bodyBackground, 25) 2px 2px 3px);
      @include translate(-1px, -1px);
    }

    @include background-image(linear-gradient(lighten($bodyBackground, 15), lighten($bodyBackground, 5) )); 

    .title {
      overflow: hidden;
      margin-bottom: $baseFontSize * 0.1;
      margin-top: $baseFontSize * 0.1;
    }

    .actions a.btn {
      float: right;
      margin: 5px;
    }
    .rates, .rates > div, .size, .count {
      float: left;
      margin: 5px;
    }

    .progress {
      position: relative;
      .bar div {
        position: absolute;
        &.percent {
          left: 10%;
        }
        &.eta {
          right: 10%;
        }
      }
    }
    &.more {
      cursor: pointer;
    }
  }
}

