@import "compass/css3/opacity";

$pie_size: 3.2em;

@mixin icon($icon) {
  margin-left: 1.3em;
  &:before {
    content: $icon;
    margin-right: 0.3em;
    margin-left: -1.3em;
  }
}

.dir {
  .path {
    font-family: fixed;
    margin: 0 0.5em;
  }
}

.error {
  @include opacity(0.5);
}

$emboss: 3px;

ul.torrents {
  list-style: none;
  margin: 5*$emboss;
  position: relative; /* for scrollTo */
  li.torrent {
    padding: 0.5em;
    margin-bottom: 0.8em;
    @include border-radius(4px);
    @include box-shadow(lighten($bodyBackground, 15) 0px 0px 3px);
    position: relative;
    cursor: pointer;

    @media (min-width: 767px) {
      width: 45%;
      float: left;
      margin-left: 1%;
    }

    &:hover, &.active {
      @include box-shadow(lighten($bodyBackground, 25) 1px-$emboss 1px 9px);
      @include translate($emboss, -$emboss);
    }

    .title {
      overflow: hidden;
      margin-bottom: $baseFontSize * 0.1;
      margin-top: $baseFontSize * 0.1;
      font-size: 1em;
      white-space: nowrap;
      text-overflow: ellipsis;

      .active {
        color: lighten($linkColor, 30);
      }
    }

    .actions a.btn {
      float: right;
      margin: 5px;
    }
    .rates, .rates > div, .size, .count {
      float: left;
      margin: 5px;
    }

    .progress {
      position: relative;
      .bar div {
        position: absolute;
        &.percent {
          left: 10%;
        }
        &.eta {
          right: 10%;
        }
      }
    }
    &.more {
      cursor: pointer;
    }
  }
}

