@charset "utf-8";
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
/* get all of Bootstrap's styles, mixins and variables! Don't use Sproket's
 * `require` directives for SASS files, because they're horrible and will kill
 * your cat. */

$navbar_shift: 60px;

/* overwrite boostrap variables here */
@import "bootswatch/cyborg/variables";
@import "bootstrap";

/* push content down, the fixed navbar covers it */
body {
  padding-top: $navbar_shift;
}
@import "bootstrap-responsive";
@import "bootswatch/cyborg/bootswatch";

@import "hide_fixed_column";
@import "torrents";
@import "dropzone";
@import "radio_buttons";
@import "panes";
@import "flash";
@import "nize";

body {
  background: #141619; /* gradient is too slow for position: fixed scrolling*/
}

form#new_torrent_search {
  label[for=torrent_search_terms] {
    display: none;
  }
}

.spincontainer {
  float: left;
}

.modal > form {
  margin: 0;
}

@media (max-width: 575px) and (min-width: 480px) {
  .modal {
    position: absolute;
    top:   10px;
    left:  10px;
    right: 10px;
    width: auto;
    margin: 0;
    &.fade.in { top: auto; }
  }
}

table.directories {
  @include hide_fixed_column('disk');
}

.breadcrumb .caret {
  border-top-color: $grayLighter; // make the caret visible, was black on black before
  opacity: 0.6;
}

.alert {
  margin-left: 1em;
  margin-right: 1em;
}

li.torrent ul.nize {
  @include nize(2.7em, #6F847D);
  float: left;
  margin-right: 0.7em;
}
