@import "compass/css3/opacity";

@mixin icon($icon) {
  &:before {
    content: $icon;
    margin-right: 0.3em;
  }
}

.transfer_torrent {
  .progress {
    .stretcher {
      height: 0;
      padding-bottom: 100%;
      width: 100%;
    }
    position: relative;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 98%;
      margin: 1%;
      height: 98%;
    }
  }
  a.content {
    @include icon("⛁");
  }
  .up {
    @include icon("↥");
  }
  .down {
    @include icon("↧");
  }
  .unavailable {
    @include opacity(0.5);
  }
}

li.torrent {
  .progress {
    width: 4.5em;
    height: 4.5em;
    overflow: hidden;
    float: right;
    position: relative;
    svg {
      width: 76%;
      margin: 10%;
    }
  }
}

