<h4 class="title">
  {{#linkTo torrent view.content}}
  {{view.content.title}}
  {{/linkTo}}
</h4>

{{#if Cataract.online}}
  {{#if view.content.isRunning}}
    {{view Cataract.TransferView contentBinding="view.content.transfer"}}
  {{/if}}
{{else}}
  {{Cataract.offlineReason}}
{{/if}}
