{{#with view.content}}
<h4 class="title">
  {{#linkTo torrent this}}
  {{title}}
  {{/linkTo}}
</h4>

{{#if isRunning}}
  {{#if Cataract.online}}
    {{view Cataract.TransferView contentBinding="transfer"}}
  {{else}}
    {{Cataract.offlineReason}}
  {{/if}}
{{/if}}
{{/with}}
