{{#link-to 'torrents' (query-params status='recent') tagName='li'}}
  {{#link-to 'torrents' (query-params status='recent')}}Recent{{/link-to}}
{{/link-to}}
{{#link-to 'torrents' (query-params status='running') tagName='li'}}
  {{#link-to 'torrents' (query-params status='running')}}Running{{/link-to}}
{{/link-to}}
<li>
  {{#link-to 'add'}}Add{{/link-to}}
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    {{describedAge}}
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>{{#link-to 'torrents' (query-params age='month')}}Month{{/link-to}}</li>
    <li>{{#link-to 'torrents' (query-params age='year')}}Year{{/link-to}}</li>
    <li>{{#link-to 'torrents' (query-params age='all')}}All (slow){{/link-to}}</li>
  </ul>
</li>

