- percent = percent.to_i
- font_size ||= 55
- rad = percent.to_f * Math::PI / 50
%svg{version: "1.1", xmlns: "http://www.w3.org/2000/svg", viewBox: '0 0 200 200', preserveAspectRatio: "xMinYMin meet"}
  - x,y = Math::sin(rad) * 100, Math::cos(rad) * 100
  - if percent == 100
    %circle{fill: "rgb(100,153,255)", stroke: "rgb(221,255,100)",  'stroke-width' => "3", cx: 100, cy: 100, r: 100}
  - elsif percent > 0
    - large = percent > 50 ? 1 : 0
    %path{fill: "rgb(100,153,255)", stroke: "rgb(221,255,100)",  'stroke-width' => "3", d:"M100,100 v-100 A100,100 1 #{large},1 #{100 + x},#{100 - y} z"}
  %text{x: 100, y: 100, 'font-size' => font_size, 'text-anchor' => 'middle', 'dominant-baseline' => 'middle'}= "%i%%" % percent
