%ul#queue.nav.pull-left
  - if Move.count > 0
    %li.dropdown
      %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
        %span.name= ta :queue
        %span.badge.badge-info= Move.count
      %ul.dropdown-menu
        - Move.recent.each do |move|
          %li= link_to move.title, '#'
