= content_tag_for :div, torrent, 'transfer_buttons' do
  .btn-group
    - if torrent.running?
      = link_to :stop, torrent_transfer_path(torrent), remote: true, class: 'btn', method: :delete
    - else
      = link_to :start, torrent_transfer_path(torrent), remote: true, class: 'btn', method: :post
