<ul class="files">
  <% list.sort.each do |name,file_or_list| %>
    <li> 
      <%= name %>
      <% if file_or_list.is_a?(Hash) %>
        <%= render :partial => 'list', :object => file_or_list %>
      <% else %>
        (<%=human_bytes file_or_list.length %>)
      <% end %>
    </li>
  <% end %>
</ul>
