<ul class="files">
  <% list.sort.each do |name,file_or_list| %>
    <li> 
      <%= name %>
      <% if file_or_list.is_a?(Hash) %>
        <span class="hoverinfo">
          <%= file_or_list.size %> Items
        </span>
        <%= render :partial => 'list', :object => file_or_list %>
      <% else %>
        <span class="hoverinfo">
          Size: <%=human_bytes file_or_list.length %> 
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
