<h3>Move Content to</h3>

<%= error_messages_for 'torrent', :object => move %>
<% form_remote_tag :url => torrent_files_path(move), :method => :put do %>
  <%= collection_select :content, :path, Directory.all, :id, :label, {:prompt => 'Please select destination'} %>
<br />
  <%= collection_select :content, :subdir, [], :id, :label, {:prompt => 'Please select subdirectory'} %>
<br />
  <%= submit_tag 'Move' %>
<% end %>
