<h3>let's move the torrent's contents</h3>

<% form_remote_tag :url => torrent_files_path(move), :method => :put do %>
  <%= collection_select :content, :path, Directory.all, :id, :label, {:prompt => 'Please select destination'} %>
<br />
  <%= collection_select :content, :subdir, [], :id, :label, {:prompt => 'Please select subdirectory'} %>
<br />
  <%= submit_tag 'Move' %>
<% end %>
