<% torrent = card %>
<% content_tag_for :li, torrent do %>
  <%= progress_image_for torrent %>
  <span class="title"> <%= h torrent.short_title %> </span>
  <%= link_to "details", torrent_url(torrent), :class => 'action show' %>
<% end %>
