<% torrent = card %>
<% content_tag :div, :class => [torrent.status, dom_id(torrent), 'torrent'].join(' ') do %>
  <%= progress_image_for torrent %>
  <span class="title"> <%= h torrent.short_title %> </span>
  <%= render :partial => 'torrents/actions', :object => torrent %>
<% end %>
