<% torrent = card %>
<% content_tag_for :div, torrent, :class => torrent.status do %>
  <%= progress_image_for torrent %>
  <span class="title"> <%= h torrent.short_title %> </span>
  <%= render :partial => 'actions', :object => torrent %>
<% end %>
