- torrent ||= item
= decorate torrent do |td|
  %tr.torrent{class: torrent.status, id: td.item_id}
    %td.title
      %strong= link_to torrent.title, torrent
    %td.status
      - if torrent.running?
        .progress-pie= td.progress
