%table.torrents.table.table-striped{data: { url: torrents_path(search), 'num-pages' => search.results.num_pages }, class: defined?(extra_class) && extra_class}
  %thead
    %tr
      %th.title= Torrent.human_attribute_name :title
      %th.status
      %th.location= Torrent.human_attribute_name :location
      %th.actions
  %tbody#torrents
    - search.results.each do |torrent|
      = render 'torrents/item', torrent: torrent
