%ul.torrents{id: torrent_list_id(search), data: { url: torrents_path(search), 'num-pages' => search.results.count }}
  - search.results.each do |torrent|
    = render 'torrents/item', torrent: torrent
