%ul.torrents.multi{id: defined?(id) ? id : 'torrents', class: defined?(extra_class) && extra_class, data: { url: torrents_path(search), 'num-pages' => search.results.num_pages} }
  - search.results.each do |torrent|
    = render 'torrents/item', torrent: torrent
