%table.torrents.table.table-striped{data: { url: torrents_path(search), 'num-pages' => search.results.count }}
  %thead
    %tr
      %th.status
      %th.title= Torrent.human_attribute_name :title
  %tbody#torrents
    - search.results.each do |torrent|
      = render 'torrents/item', torrent: torrent
