<% torrent = new_form %>
<%= error_messages_for :torrent, :object => torrent %>
<% form_for torrent do |f| %>
  URL: <%= f.text_field :url %>   <br/>
  Filename: <%= f.text_field :filename %>   <br/>
  
  <div id="messages_for_torrent">Paste URL plz</div>

  <%= f.submit("Create") %>
<% end %>

