<div id="torrent_<%= preview.id -%>" class="preview">
  <h1>
    <%= link_to_remote preview.short_title, :url => { :action => 'show', :id => preview.id}, :title => 'Details' %>
  </h1>
  <div class="action_buttons">
    <%= action_buttons_for(preview) %>
  </div>
  <%= progress(preview) %>
</div>
