<% t = watchlist_item %>
<div class="watchlist_item">
  <%= link_to_remote image_tag('close'),
    :url => { :action => 'unwatch', :id => t },
    :update => { :success => 'watchlist' } %>
    <h1><%= link_to_remote t.short_title, :url => {:action => 'show', :id => t} -%></h1>
  <%= progress(t) -%><br />
  <%= transfer(t) -%>
</div>
