<% t = watchlist_item %>
<div class="watchlist_item">
  <%= link_to_remote image_tag('close'),
    :url => { :action => 'unwatch', :id => t },
    :update => { :success => 'watchlist' } %>
  <h1><%= t.short_title -%></h1>
  <%= progress(t) -%>
  <%= transfer(t) -%>
</div>
