- title search.title, false

#container
  %script{type: "text/x-handlebars"}
    {{ view Cataract.ListTorrentsView }}
  %script{type: "text/javascript"}
    $(function() { Cataract.torrents = Cataract.store.find(Cataract.Torrent); });
