- title search.title, false

- content_for :head do
  %script{ type: "text/x-handlebars", data: { 'template-name' => "torrent-item"}}
    {{#with content}}
    %h3 {{title}}
    {{/with}}

#container
