<% if @torrents and !@torrents.empty? %>
  <%= render :partial => 'preview', :collection => @torrents %>
<% else %>
  <p>
  No <%= @status.to_s %> torrents found.
  <% if @term %>
  You searched for '<%= @term %>'.
  <% end %>
  </p>

<% end %>
