<%= sidebar_switcher %>
<% sidebar_div 'watchlist' do %>
  <%= render :partial => '/torrents/watchlist' %>
<% end %>
<% sidebar_div 'tag_cloud' do %>
  <%= render :partial => '/torrents/tag_cloud' %>
<% end %>
