!!!5
%html
  = render 'layouts/head'
  %script{type: "text/x-handlebars", 'data-template-name' => 'session' }= render 'session', handlebars: true
  %body
    #ember.container-fluid
      = yield
  = render 'layouts/foot'

